.App {
  display: flex;
  flex-direction: row;
}

.header {
  display: flex;
  flex-direction: row nowrap;
  justify-content: space-around;
  height: 50px;
  background-color: #ee8d2b;
  color: #772f1a;
}

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 400px;
  width: 15%;
  background-color: #f2a65a;
  color: #772f1a;
}

.sidebar-text {
  margin: 5px;
}

.mainpage {
  display: flex;
  flex-direction: column;
  height: 400px;
  width: 85%;
  justify-content: center;
  align-items: center;
  background-color: #5af2a6;
}
